.features {
    border: 1px solid black;
}


/* Task CSS */
.task-main-edit {
    position: fixed;
    background-color: #fefefe;
    margin: auto; /* 15% from the top and centered */
    padding: 1%;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    z-index: 10;
    
}