.features {
    border: 1px solid black;
}

/* Friend List Coded by Jenn*/
#friends {
    width: 25%;
    padding-left: 30px;
}

#friends h1 {
    margin-bottom: 0px;
}

.friend-name {
    display: inline-block;
    padding: 4px;
}

.find-new-friend {
    display: inline-block;
}

li {
    list-style-type: none;
    padding: 3px;
}

.friend-icon {
    height: 20px;
    width: auto;
    display: inline-block;
}

.delete {
    display: inline-block;
}

/* Messages Styles */
#messages {
   margin: 1%;
   display: flex;
   height: 35%;
   width: 35%;
}



#message-article {
    max-height: 500px;
    overflow-y:scroll; 
    position:"relative";

}

.nameBtn {  
    display: inline; 
    text-decoration: underline;
}
.message textarea { 
    /* resize: vertical;       */
    max-width: 100%       
} 

#input-div{
    /* position: absolute; */
    position: relative;
    height:30px;

    /* bottom: 20px;
    right: 20px; */
    /* background:#999;*/
}
.message{
    border-radius: 25px;
    display: block;
    background: #0B93F6;
    padding:5px 10px;
    max-width: 60%;
    font-family: "Helvetica Neue";
    float: right;
	/* font-size: 20px; */
    /* font-weight: normal;
    flex: 1;
    height:100%;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse; */
}

textarea {
    background: #0B93F6;
    border-radius: 25px;
}

.friendMessage{
    border-radius: 25px;
    display: block;
    background: #E5E5EA;
    padding:5px 10px;
    max-width: 60%;
    font-family: "Helvetica Neue";
    float: left;
	/* font-size: 20px; */
    /* font-weight: normal;
    flex: 1;
    height:100%;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse; */
}

.edit-btn { 
    border-radius: 30px; 
    font-size: .5em;
}
.edit-submit-btn {
    border-radius: 30px; 
    font-size: .5em; 
}

/* Task CSS */
.task-main-edit {
    position: fixed;
    background-color: #fefefe;
    margin: auto; /* 15% from the top and centered */
    padding: 1%;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    z-index: 10;

}